<!-- @format -->

{% extends 'base.html' %} {% load static %} {% block content %}

<!-- <p>{{eachTodo.name}} is due on {{eachTodo.due_date}}</p> -->

<!-- <a class="detail" href="/{{ eachTodo.id}}">Detail</a>
<a class="update" href="/{{eachTodo.id}}/todo_update">Update</a>
<a class="delete" href="/{{eachTodo.id}}/todo_delete">Delete</a> -->

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">No</th>
      <th scope="col">Todo</th>
      <th scope="col">Due Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for eachTodo in todolist %}
    <tr>
      <th scope="row">{{eachTodo.id}}</th>
      <td>{{eachTodo.name}}</td>
      <td>{{eachTodo.due_date}}</td>
      <td>
        <a href="/{{eachTodo.id}}"
          ><img src="{% static 'images/info-circle.svg' %}" alt=""
        /></a>
        <a href="/{{eachTodo.id}}/todo_update"
          ><img src="{% static 'images/arrow-repeat.svg' %}" alt=""
        /></a>
        <a href="/{{eachTodo.id}}/todo_delete"
          ><img src="{% static 'images/trash.svg' %}" alt=""
        /></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
